.sass-cache
node_modules
.idea/runConfigurations
.idea/dictionaries
.idea/inspectionProfiles
.idea/workspace.xml
.idea/libraries/compass_library.xml
.idea/uiDesigner.xml
.idea/*
.secret
public/assets/*
public/doc/*
public/scripts/*
public/vendor/*
public/uploads/*
public/config.js
tmp/*
!tmp/uploads/
tmp/uploads/*
!tmp/uploads/.gitkeep

npm-debug.log
log
.ruby-version
.tags
tags
/.project
.tern-port
**/.DS_Store
config/application.yml
config/application.yml.beta
config/application.yml.gamma
config/application.yml.production
config/database.yml
.vagrant/
.byebug_history
.generators
.env
.editorconfig
.solargraph.yml
uploads/
.vscode
*.sql
!db/views/*.sql
public/doc/*
*.code-workspace
.metals/
vendor/gems/cursor_pagination